<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About Deloitte EMEA Blockchain Lab
                <small>Welcome!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">SHA-256 Generator</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="https://media.wired.com/photos/593320dbf682204f73698758/master/pass/163727876.jpg">
        </div>
        <div class="col-md-6">
            <h2>Blockchain. The technology that’s changing the rules.</h2>

            <p>The technology likely to have the greatest impact on the next few decades has arrived. 
                Innovating across a rapidly accelerating range of use-cases, empowering consumers, organisations, 
                regulators alike to connect and exchange value in more dynamic, efficient and immediate ways.</p>

            <p>Collaboration is the core of the blockchain, and fundamental to what we do at the Deloitte Grid Blockchain Lab. 
                As part of Deloitte’s broader FinTech initiative The Grid, the EMEA Blockchain Hub is coordinated out of Dublin, 
                involving specialised teams from across Europe. The hub works closely with other centers of excellence in digital, 
                analytics and information management to create ground breaking new thinking. We are rapidly building to a 50-strong team, 
                comprising of developers, designers and thought leaders, who work with international organisations looking to roll out 
                blockchain-enabled solutions across different countries. Our team of experts work with you to develop blockchain capabilities. 
                From identifying the best use case, assessing suitability, developing proof of concepts and building market ready solutions. 
                We have a range of offerings to accelerate your use of blockchain. These can be tailored to suit you.</p>
        </div>

    </div>

     <div class="row">

        <div class="col-md-12">
            <h2 class="page-header">Hash Cryptographic Algorithms and SHA-256</h2>

            <p>A hash function is any function that can be used to map data of arbitrary size to data
                 of fixed size. The values returned by a hash function are called hash values, hash codes,
                  digests, or simply hashes. One use is a data structure called a hash table, 
                  widely used in computer software for rapid data lookup. Hash functions accelerate 
                  table or database lookup by detecting duplicated records in a large file. An example is finding 
                  similar stretches in DNA sequences. They are also useful in cryptography. A cryptographic hash function allows 
                  one to easily verify that some input data maps to a given hash value, but if the input data is unknown, 
                  it is deliberately difficult to reconstruct it (or equivalent alternatives) by knowing the stored hash value. 
                  This is used for assuring integrity of transmitted data, and is the building block for HMACs, which provide message authentication.
                  Hash functions are related to (and often confused with) checksums, check digits, fingerprints, 
                  lossy compression, randomization functions, error-correcting codes, and ciphers. 
                  Although these concepts overlap to some extent, each has its own uses and requirements and is 
                  designed and optimized differently. The Hash Keeper database maintained by the American National 
                  Drug Intelligence Center, for instance, is more aptly described as a catalogue of file fingerprints than of hash values.
                The SHA (Secure Hash Algorithm) is one of a number of cryptographic hash functions. 
                A cryptographic hash is like a signature for a text or a data file. </p>
                
                <p>SHA-256 algorithm generates an almost-unique, 
                fixed size 256-bit (32-byte) hash. Hash is a one way function – it cannot be decrypted back. 
                This makes it suitable for password validation, challenge hash authentication, anti-tamper, digital signatures.
                SHA-256 is one of the successor hash functions to SHA-1, and is one of the strongest hash functions available.</p>
        </div>

    </div>